body{
    background-color: rgb(95, 98, 101);
}


/* Wrapper : Oppgitt ønsket farge (Bakgrunn farge)  */
.wrapper{
background-color: rgb(160,160,160);
/* Her velger vi å bruke prosent imotsetting til pixsel: 
Slik at det er mer fleksible og enklet å skalere på ulike enheter*/
max-width: 70%;
min-width: 70%;
width: 100%;
/* Margin : Bestemer hvor stor wrapper boks være iforhold til enhete skjerm
0 : Den refere til størresel til top og bun 
auto : refere til høyre og venstre */
margin: 0 auto;
padding: 20px;
display: grid;
/* Her oppgir det breddene kolonnen
Samtidig bruket vi "auto" Slik at boksene tilpasser inneholdet dems  */
grid-template-columns: auto auto auto;
/*Som navnet tilsier lager den mellomrom(gap) 
Her velger bruke 10px som standard størrelse for mellomromene */
gap: 10px; 
}





/* CSS for first page */

.tittel{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    max-width:fit-content;
    margin-bottom: 10px;
    grid-column: 1/4;
}

.headerbakgrunn{
    background-color: white;
    display: grid;
    font-size: large;
    width: auto;
    height: 50px;
    grid-template-columns: auto auto auto;
    gap: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
}


.headergrid{
    text-align: end;
}

.gridlink{
    text-align: center;
}


.undertittel{
margin-top: 1px;
font-size: large;
grid-column: 1/3;
}

.navndato{
    color: black;
    display: inline;
    max-width: fit-content;
    grid-row: 4;
    grid-column: 1/3;
    row-gap: 2px;
}


img{
    max-width: 100% ;
    height: auto;
}

.picture-1 {
    margin-left: 2%;
    grid-row: 5;
    grid-column: 2/3;
}

.source {
    grid-row: 6;
    grid-column: 2/3;
}

hr{
    grid-row: 7;
    grid-column: 1/4;
    width: 80%;
    border-color: black;
}

.backgroundcolorp{
    background-color: rgb(211, 211, 211);
    grid-row: 8/11 ;
    grid-column: 2/3;
}

.paragrafer {
margin: 15px;
font-family:'Times New Roman', Times, serif;
font-size: larger;
max-width: 800px;
grid-row: 8/9;
grid-column: 2/3;
}




.sub-heading {
    margin-left: 15%;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-row: 9/10;
    grid-column: 2/3;
    }

    .andreparagrafer{
        margin: 15px;
        font-family:'Times New Roman', Times, serif;
        font-size: larger;
        max-width: 800px;
        grid-row: 10/11;
        grid-column: 2/3;
        }



        /* Denne gjør fargeboksen ved paragrafene mindre, rører den ikke til jeg finner ut*/
        .wrapperpage2{
            background-color: rgb(160,160,160);
            max-width: 70%;
            min-width: 70%;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px; 
            }

        .footerpage2{
    background-color: black;
    grid-row: 11;
    grid-column: 2;
    text-align: center;
    color: white;
}

.footerpage1{
    background-color: black;
    grid-row: 12;
    grid-column: 1/4;
    text-align: center;
    color: white;
}



/* CSS for secondary page  */
.headersec{

}

.headerpage2
{
    font-size: xx-large;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.linkpage2{
    grid-column: 2;
    grid-row: 1;
    text-align: center;

}

.learningoutcomes{
    grid-row: 2;
    grid-column: 1/3;
    text-align: center;
}

.firstlist{
grid-row: 3;
grid-column: 2;
}


.secondlist{
grid-row: 4;
grid-column: 2;
}

.thirdlist{
    grid-row: 5;
    grid-column: 2;

}

.knowledge{
    grid-row: 3;
    grid-column: 1;
    }
    
    .skills{
    grid-row: 4;
    grid-column: 1;
    }
    
    .competence{
    grid-row: 5;
    grid-column: 1;
    }


.accessibility{
    grid-column: 1/3;
    grid-row: 6;
text-align: center;
}

.image1page2{
    grid-column: 1;
    grid-row: 7;
}

.image2page2{
    grid-column: 2;
    grid-row: 7;
}

.footerpage2{
    background-color: black;
    grid-row: 8;
    grid-column: 1/4;
    text-align: center;
    color: white;
}